body {
  font-family: Arial, sans-serif ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: beige;
}
.container{
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  text-align: center;
  width: 300px;
}
h1{
  color: #333;
}
form div{
  margin: 10px 0;
}
select{
  width: 100%;
  padding: 8px;
}

button{
  background-color: #df9dc6;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
button:hover{
  background-color: #96537b;
}
#result {
  margin-top: 15PX;
  font-top: bold;
  color: #333;
}